<table class="table table-hover">
    <thead>
        <tr>
            <th>Día</th>
            <th>Horario</th>
            <th>Especialidad</th>
            <th></th>
        </tr>   
    </thead>
    <tbody>
        <tr *ngFor="let jornada of listadoJornadas">
            <td>{{jornada.dia}}</td>
            <td>{{jornada.horario}}</td>
            <td>{{jornada.especialidad}}</td>
            <td><button type="button" mdbBtn color="light-blue" class="waves-light btn-sm" (click)="onModificar(jornada)" mdbWavesEffect>Modificar</button></td>
        </tr>
    </tbody>
</table>