<table class="table table-hover">
    <thead>
        <tr>
            <th>Día</th>
            <th>Horario</th>
            <th>Especialidad</th>
            <th>Duración</th>
            <th></th>
        </tr>   
    </thead>
    <tbody>
        <tr *ngFor="let jornada of listadoJornadas">
            <td>{{jornada.dia.toString() | dayName}}</td>
            <td>{{jornada.horario}}</td>
            <td>{{jornada.especialidad}}</td>
            <td>{{jornada.duracion}} min.</td>
            <td style="text-align: center"><button type="button" mdbBtn color="light-blue" class="waves-light btn-sm" (click)="onModificar(jornada)" mdbWavesEffect>Modificar</button>
            <button type="button" mdbBtn color="danger" class="waves-light btn-sm" (click)="onEliminar(jornada)" mdbWavesEffect>Eliminar</button></td>
        </tr>
    </tbody>
</table>