<div>
    <form>
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" [(ngModel)]="usuario.nombre">
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" [(ngModel)]="usuario.apellido">
        <label for="email">Email</label>
        <input type="email" name="email" [(ngModel)]="usuario.email">
        <label for="img1">Img1</label>
        <input type="file" id="img1" name="img1" (change)="DetectFiles($event)" >
        <label for="img2">Img2</label>
        <input type="file" id="img2" name="img2" (change)="DetectFiles($event)" >
        <div *ngIf="modo == 'insert'">
            <label for="password">Contraseña</label>
            <input type="password" name="password" [(ngModel)]="password">
        </div>
        <input class="btn btn-success" type="button" value="Registrarse" (click)="Registrar_OnClick()">        
    </form>
</div>