<form novalidate
        (ngSubmit)="placebo()"
        [formGroup]="profesionalForm">
    <div class="form-group">
        <input  class="form-control"
                type="text"
                placeholder="Nombre *"
                formControlName="nombre"
                [ngClass]="{'is-invalid': (profesionalForm.get('nombre').touched ||
                                            profesionalForm.get('nombre').dirty) &&
                                            !profesionalForm.get('nombre').valid }" />
        <span class="invalid-feedback">
            <span *ngIf="profesionalForm.get('nombre').errors?.required">
                Ingrese su nombre
            </span>
            <span *ngIf="profesionalForm.get('nombre').errors?.minlength">
                El nombre debe tener al menos 2 caracteres.
            </span>
        </span>
    </div>
    <div class="form-group">
        <input  class="form-control"
                type="text"
                placeholder="Apellido *"
                formControlName="apellido"
                [ngClass]="{'is-invalid': (profesionalForm.get('apellido').touched ||
                                            profesionalForm.get('apellido').dirty) &&
                                            !profesionalForm.get('apellido').valid }" />
        <span class="invalid-feedback">
            <span *ngIf="profesionalForm.get('apellido').errors?.required">
                Ingrese su apellido
            </span>
            <span *ngIf="profesionalForm.get('apellido').errors?.minlength">
                El apellido debe tener al menos 2 caracteres.
            </span>
        </span>
    </div>
    <div formGroupName="emailGroup">
        <div class="form-group">
            <input  class="form-control"
                    type="email"
                    placeholder="Email *"
                    formControlName="email"
                    [ngClass]="{'is-invalid': profesionalForm.get('emailGroup').errors?.match ||
                                                ((profesionalForm.get('emailGroup.email').touched ||
                                                profesionalForm.get('emailGroup.email').dirty) &&
                                                !profesionalForm.get('emailGroup.email').valid) }" />
            <span class="invalid-feedback">
                <span *ngIf="profesionalForm.get('emailGroup.email').errors?.required">
                    Ingrese su dirección de email.
                </span>
                <span *ngIf="profesionalForm.get('emailGroup.email').errors?.email">
                    Ingrese una dirección de email válida.
                </span>
            </span>
        </div>
        <div class="form-group">
            <input  class="form-control"
                    type="email"
                    placeholder="Confirme su email *"
                    formControlName="confirmEmail"
                    [ngClass]="{'is-invalid': profesionalForm.get('emailGroup').errors?.match ||
                                                ((profesionalForm.get('emailGroup.confirmEmail').touched ||
                                                profesionalForm.get('emailGroup.confirmEmail').dirty) &&
                                                !profesionalForm.get('emailGroup.confirmEmail').valid) }" />
            <span class="invalid-feedback">
                <span *ngIf="profesionalForm.get('emailGroup.confirmEmail').errors?.required">
                    Repita su dirección de email.
                </span>
                <span *ngIf="profesionalForm.get('emailGroup').errors?.match">
                    Las direcciones de email no coinciden.
                </span>
            </span>
        </div>
    </div>
    <div *ngIf="modo == 'insert'">
        <div formGroupName="passwordGroup">
            <div class="form-group">
                <input  class="form-control"
                        type="password"
                        placeholder="Contraseña *"
                        formControlName="password"
                        [ngClass]="{'is-invalid': profesionalForm.get('passwordGroup').errors?.match ||
                                                    ((profesionalForm.get('passwordGroup.password').touched ||
                                                    profesionalForm.get('passwordGroup.password').dirty) &&
                                                    !profesionalForm.get('passwordGroup.password').valid) }" />
                <span class="invalid-feedback">
                    <span *ngIf="profesionalForm.get('passwordGroup.password').errors?.required">
                        Ingrese una contraseña.
                    </span>
                    <span *ngIf="profesionalForm.get('passwordGroup.password').errors?.minlength || profesionalForm.get('passwordGroup.password').errors?.maxlength">
                        La contraseña debe contener entre 6 y 12 caracteres.
                    </span>
                </span>
            </div>
            <div class="form-group">
                <input  class="form-control"
                        type="password"
                        placeholder="Confirme su contraseña *"
                        formControlName="confirmPassword"
                        [ngClass]="{'is-invalid': profesionalForm.get('passwordGroup').errors?.match ||
                                                    ((profesionalForm.get('passwordGroup.confirmPassword').touched ||
                                                    profesionalForm.get('passwordGroup.confirmPassword').dirty) &&
                                                    !profesionalForm.get('passwordGroup.confirmPassword').valid) }" />
                <span class="invalid-feedback">
                    <span *ngIf="profesionalForm.get('passwordGroup.confirmPassword').errors?.required">
                        Repita la contraseña.
                    </span>
                    <span *ngIf="profesionalForm.get('passwordGroup').errors?.match">
                        La contraseña no coincide.
                    </span>
                </span>
            </div>
        </div>
    </div>
    <h5>Especialidades</h5>
        <div formArrayName="especialidades"
                *ngFor="let especialidadControl of especialidades.controls; let i = index">
            <div [formControlName]="i" ngDefaultControl>
                <div class="form-group" >
                    <select (change)="onChangeEspecialidad($event)"
                            class="browser-default custom-select"
                            id="{{ 'selectId' + i }}">
                        <option [value]="'seleccionar'" selected disabled>Seleccionar...</option>
                        <option *ngFor="let especialidad of especialidadesCargadas" 
                        [value]="especialidad">
                        {{especialidad}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <span class="invalid-feedback d-block">
            <span *ngIf="!profesionalForm.get('especialidades').pristine && profesionalForm.get('especialidades').value.includes(null)">
                Seleccione la especialidad.
            </span>
            <br>
            <span *ngIf="profesionalForm.get('especialidades').errors?.repeated">
                No puede agregar más de una vez la misma especialidad.
            </span>
        </span>
        <span><i class="fas fa-plus-square"
                id="btnAddEspecialidad"
                (click)="addEspecialidadControl()"> Agregar especialidad</i></span>
        <br>
        <br>
        <br>
        
    <input  class="btn btn-success"
            [disabled]="!profesionalForm.valid || 
                        profesionalForm.get('especialidades').value.includes(null) || 
                        profesionalForm.get('especialidades').errors?.repeated"
            type="button"
            value="Registrarse"
            (click)="Registrar_OnClick()"/>
</form>

