<app-menu></app-menu>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Profesional</th>
            <th>Dia y hora</th>
            <th>Especialidad</th>
            <th>Estado</th>
            <th></th>
        </tr>   
    </thead>
    <tbody>
        <tr *ngFor="let turno of listadoTurnos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <td>{{turno.nombreCompletoProfesional}}</td>
            <td>{{turno.inicio | date: 'dd/MM/yyyy hh:mm a'}}</td>
            <td>{{turno.especialidad}}</td>
            <td *appEstadoTurno="turno.estado"></td>
            <td>{{turno.estado}}</td>
            <td>
              <div *ngIf="turno.estado == 'Finalizado'">
                <button type="button" mdbBtn color="dark-green" class="waves-light btn-sm" data-dismiss="modal" (click)="VerResenia(turno)" mdbWavesEffect>Ver reseña</button>
                <button [disabled]="turno.datosProfesional === undefined" type="button" mdbBtn color="unique" class="waves-light btn-sm" data-dismiss="modal" (click)="LlenarEncuesta(turno)" mdbWavesEffect>Llenar encuesta</button>
              </div>
            </td>
        </tr>
    </tbody>
</table>

<ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="listadoTurnos.length"></ngb-pagination>



<button id="btnModalResenia" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalResenia" hidden></button>
<div class="modal fade" id="modalResenia" tabindex="-1" role="dialog" aria-labelledby="modalReseniaLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reseña del turno</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <div *ngIf="turnoElegido">
            <app-informe-detalle [turno]="turnoElegido"></app-informe-detalle>
        </div>
      </div>
    </div>
  </div>
</div>

<button id="btnModalEncuesta" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEncuesta" hidden></button>
<div class="modal fade" id="modalEncuesta" tabindex="-1" role="dialog" aria-labelledby="modalEncuestaLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Completar encuesta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <div *ngIf="turnoElegido">
          <app-encuesta-alta  [turno]="turnoElegido"
                              (enviarEncuesta)="OnEnviarEncuesta($event)"></app-encuesta-alta>
        </div>
        <button id="btnDescartaModal" type="button" mdbBtn color="danger" class="waves-light" data-dismiss="modal" mdbWavesEffect hidden>DescartarModal</button>
      </div>
    </div>
  </div>
</div>