<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark purple-gradient" [containerInside]="false">

  <mdb-navbar-brand><a class="navbar-brand" routerLink="/Home">Clínica OnLine</a></mdb-navbar-brand>

  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect></a>
      </li>
      <li *ngIf="perfil == 'Paciente' && habilitado" class="nav-item">
        <a routerLink="/PedirTurno" class="nav-link waves-light" mdbWavesEffect>Pedir turno</a>
      </li>
      <li *ngIf="perfil == 'Profesional' && habilitado" class="nav-item">
        <a routerLink="/AtenderPaciente" class="nav-link waves-light" mdbWavesEffect>Atender paciente</a>
      </li>
      <li *ngIf="perfil == 'Admin' && habilitado" class="nav-item">
        <a routerLink="/AdminProfesionales" class="nav-link waves-light" mdbWavesEffect>Administrar profesionales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect></a>
      </li>
      <li *ngIf="perfil == 'Paciente' && habilitado" class="nav-item">
        <a routerLink="/MisTurnos" class="nav-link waves-light" mdbWavesEffect>Mis turnos</a>
      </li>
      <li *ngIf="perfil == 'Profesional' && habilitado" class="nav-item">
        <a routerLink="/Agenda" class="nav-link waves-light" mdbWavesEffect>Gestionar turnos</a>
      </li>
      <li *ngIf="perfil == 'Admin' && habilitado" class="nav-item">
        <a routerLink="/AdministradoresABM" class="nav-link waves-light" mdbWavesEffect>ABM Administradores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect></a>
      </li>
      <li *ngIf="perfil == 'Paciente' && habilitado" class="nav-item">
        <a routerLink="/Contacto" class="nav-link waves-light" mdbWavesEffect>Contacto</a>
      </li>
      <li *ngIf="perfil == 'Profesional' && habilitado" class="nav-item">
        <a routerLink="/JornadasLaborales" class="nav-link waves-light" mdbWavesEffect>Jornadas laborales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect></a>
      </li>
      <li *ngIf="perfil == 'Profesional' && habilitado" class="nav-item">
        <a routerLink="/BusquedaInformacion" class="nav-link waves-light" mdbWavesEffect>Búsqueda de información</a>
      </li>
    </ul>

    

    
    <button type="button" mdbBtn color="danger" class="waves-light"mdbWavesEffect hidden>Para activar mdBootstrap</button>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li *ngIf="perfil == 'Paciente'" class="nav-item">
        <button class="nav-link btn" id="btnNotificacion">
          <div class="btn-group" mdbDropdown>
            <mdb-icon *ngIf="listadoNotificaciones.length > 0" (click)="leerNotificaciones()" fas icon="envelope" mdbDropdownToggle></mdb-icon>
            <mdb-icon *ngIf="listadoNotificaciones.length == 0" fas icon="envelope-open" mdbDropdownToggle></mdb-icon>
            <div *ngIf="listadoNotificaciones.length > 0" class="dropdown-menu dropdown-menu-right dropdown-primary">
              <a *ngFor="let notificacion of listadoNotificaciones" class="dropdown-item">
                [{{notificacion.fecha | date: 'dd/MM/yyyy'}}] {{notificacion.contenido}}
                </a>
            </div>
            <div *ngIf="listadoNotificaciones.length == 0" class="dropdown-menu dropdown-menu-right dropdown-primary">
              <a class="dropdown-item">No hay notificaciones nuevas</a>
            </div>
          </div>
        </button>
      </li>
      <li class="nav-item">
        <button class="nav-link btn">
          <div class="btn-group" mdbDropdown>
            <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary">
              <a class="dropdown-item" routerLink="/MiPerfil">Mi perfil</a>
              <a *ngIf="perfil == 'Paciente'" class="dropdown-item" routerLink="/Historial">Historial</a>
              <a *ngIf="perfil == 'Profesional'" class="dropdown-item" routerLink="/HistorialProfesional">Historial</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item" (click)="LogOut()">Salir <i class="fas fa-sign-out-alt"></i></a>
            </div>
          </div>
        </button>
      </li>
    </ul>
  </links>
</mdb-navbar>



<!--ul *ngIF="perfil == 'Paciente'" class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link waves-light" mdbWavesEffect></a>
  </li>
  <li class="nav-item">
    <a class="nav-link waves-light" mdbWavesEffect></a>
  </li>
  <li class="nav-item">
    <a routerLink="/PedirTurno" class="nav-link waves-light" mdbWavesEffect>Pedir turno</a>
  </li>
  <li class="nav-item">
    <a class="nav-link waves-light" mdbWavesEffect></a>
  </li>
  <li class="nav-item">
    <a routerLink="/Contacto" class="nav-link waves-light" mdbWavesEffect>Contacto</a>
  </li>
</ul>

<ul *ngIF="perfil == 'Profesional'" class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link waves-light" mdbWavesEffect></a>
  </li>
  <li class="nav-item">
    <a routerLink="/AtenderPaciente" class="nav-link waves-light" mdbWavesEffect>Atender paciente</a>
  </li>
  <li class="nav-item">
    <a class="nav-link waves-light" mdbWavesEffect></a>
  </li>
  <li class="nav-item">
    <a routerLink="/Agenda" class="nav-link waves-light" mdbWavesEffect>Agenda</a>
  </li>
</ul>

<ul *ngIF="perfil == 'Admin'" class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link waves-light" mdbWavesEffect></a>
  </li>
  <li class="nav-item">
    <a routerLink="/AtenderPaciente" class="nav-link waves-light" mdbWavesEffect>Administrar profesionales</a>
  </li>
  <li class="nav-item">
    <a class="nav-link waves-light" mdbWavesEffect></a>
  </li>
  <li class="nav-item">
    <a routerLink="/Agenda" class="nav-link waves-light" mdbWavesEffect>ABM Administradores</a>
  </li>
</ul-->