<div class="container">
    <div class="row">
        <div class="col-12">
            <h4>{{sujetoDetalle}}</h4>
            <p *ngIf="sujetoDetalle == 'Profesional'">{{turnoMostrarDetalle.nombreCompletoProfesional}}</p>
            <p *ngIf="sujetoDetalle == 'Paciente'">{{turnoMostrarDetalle.nombreCompletoPaciente}}</p>
            <h4>Especialidad</h4>
            <p>{{turnoMostrarDetalle.especialidad}}</p>
            <h4>Fecha</h4>
            <p>{{turnoMostrarDetalle.inicio | date: 'dd/MM/yyyy hh:mm a'}}</p>
        </div>
    </div>
</div>