<div class="container">
  <div class="row">
    <div class="w-responsive text-center mx-auto p-4 mt-2 z-depth-5" id="formControl">
      <form   novalidate
              (ngSubmit)="tryLogin(loginForm)"
              #loginForm="ngForm">
              <p class="h3 mb-4">Bienvenidx a la Clinica On-Line</p>
          <div class="form-group">
              <input  class="form-control"
                      id="inputEmail"
                      type="email" 
                      placeholder="Email"
                      required
                      email
                      [(ngModel)]="email"
                      name="email"
                      #emailVar="ngModel"
                      [ngClass]="{'is-invalid': (emailVar.touched || emailVar.dirty) && !emailVar.valid }">
              <span class="invalid-feedback">
                <span *ngIf="emailVar.errors?.required">
                  Por favor ingrese su correo.
                </span>
                <span *ngIf="emailVar.errors?.email">
                  Por favor ingrese una dirección de correo válida.
                </span>
              </span>
            </div>
            <div class="form-group">
              <input  class="form-control"
                      id="inputPassword"
                      type="password"
                      placeholder="Contraseña"
                      required
                      minlength="6"
                      [(ngModel)]="pass"
                      name="password"
                      #passwordVar="ngModel"
                      [ngClass]="{'is-invalid': (passwordVar.touched || passwordVar.dirty) && !passwordVar.valid }">
              <span class="invalid-feedback">
                <span *ngIf="passwordVar.errors?.required">
                  Por favor ingrese su contraseña.
                </span>
                <span *ngIf="passwordVar.errors?.minlength">
                  La contraseña debe tener al menos 6 caracteres.
                </span>
              </span>     
            </div>
            <br>
            <div class="d-flex justify-content-around">
              <div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                  <label class="custom-control-label" for="defaultLoginFormRemember">Recordarme</label>
                </div>
              </div>
              <div>
                <a href="">¿Olvidó su contraseña?</a>
              </div>
            </div>
            <br>
            <button id="btnSubmit" type="submit"
                        class="btn btn-primary"
                        [disabled]="!loginForm.valid || !loginForm.dirty">Entrar</button>
            <p>¿No tiene usuario?
              <a routerLink="/SignIn">Registrarse</a>
            </p>
      
            <br>
            <p>Loguearse con:</p>

            <div class="btn-group mr-auto mb-3 mb-md-0" role="group" aria-label="First group">
              <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Google"><i class="fab fa-google"></i></button>
              <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fab fa-facebook-square"></i></button>
              <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fab fa-twitter"></i></button>
              <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="GitHub"><i class="fab fa-github"></i></button>
            </div>
      </form>
    </div>
  </div>
</div>








<button id="btnModalHardcodeo" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalHardcodeo" hidden></button>
<div class="modal fade" id="modalHardcodeo" tabindex="-1" role="dialog" aria-labelledby="modalHardcodeoLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Perfiles hardcodeados</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <button type="button" mdbBtn color="default" class="waves-light" data-dismiss="modal" (click)="HardcodeoUsuarios('Admin')" mdbWavesEffect>Administrador</button>
        <br>
        <br>
        <button class="btn btn-primary" (click)="HardcodeoUsuarios('Paciente')" data-dismiss="modal">Paciente</button>
        <br>
        <br>
        <button class="btn btn-secondary" (click)="HardcodeoUsuarios('ProfesionalHabilitado')" data-dismiss="modal">Prof. habilitado</button>
        <br>
        <br>
        <button class="btn btn-secondary" (click)="HardcodeoUsuarios('ProfesionalInhabilitado')" data-dismiss="modal">Prof. no habilitado</button>
      </div>
    </div>
  </div>
</div>